.inputForm {
  border-color: #5d2f75;
  color: #5d2f75;
}
.notReceivedText {
  text-align: center;
  font-size: 20px;
  color: #5d2f75;
}

.forgot-btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

.lock-img {
  height: 180px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.forgot-text {
  color: #5d2f75;
}

.main-text {
  text-align: center;
  color: #5d2f75;
  padding: 20px;
}
